<?xml version="1.0"?>
<!--
  #%L
  Resolver Proxy Maven Plugin
  %%
  Copyright (C) 2018 - 2025 Andreas Veithen-Knowles
  %%
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
       http://www.apache.org/licenses/LICENSE-2.0
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  #L%
  -->
<settings>
    <!-- This profile is needed for two reasons:
          * Maven doesn't predefine any snapshot repositories (Only Maven
            central is predefined and it is configured for releases only).
            If the invoked POM uses snapshot versions (which it generally
            does), then at least one snapshot repository needs to be defined.
          * To avoid unnecessary checksum validation. -->
    <profiles>
        <profile>
            <id>resolver-proxy</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>resolver-proxy</id>
                    <url>http://localhost:@resolverProxyPort@</url>
                    <releases>
                        <enabled>true</enabled>
                        <checksumPolicy>ignore</checksumPolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <checksumPolicy>ignore</checksumPolicy>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>resolver-proxy</id>
                    <url>http://localhost:@resolverProxyPort@</url>
                    <releases>
                        <enabled>true</enabled>
                        <checksumPolicy>ignore</checksumPolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <checksumPolicy>ignore</checksumPolicy>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
    <!-- Make sure that all requests go to the proxy, even if the invoked POM
         has dependencies that declare additional repositories. -->
    <mirrors>
        <mirror>
            <id>resolver-proxy</id>
            <name>Resolver Proxy</name>
            <url>http://localhost:@resolverProxyPort@</url>
            <mirrorOf>external:*</mirrorOf>
        </mirror>
    </mirrors>
</settings>
